$font-stack: "Segoe UI", Arial, sans-serif;
$main-font-color: #333;
$backgroud-1: #ff66aa;
$backgroud-2: #fcb045;
$main-1: #635985;
$main-2: #443C68;
$main-3: #393053;
$main-4: #18122B;
.board {
  background: $backgroud-1;
  background: linear-gradient(317deg, $backgroud-1 0%, $backgroud-2 100%);
  padding: 5px 20px 20px;
  .board-title {
    height: 78px;
    line-height: 78px;
    margin: 0;
    font-family: $font-stack;
    font-size: 36px;
    font-weight: bold;
    color: $main-font-color;
    vertical-align: middle;
  }
  .edit-board{
    display: flex;
  }
  .edit-button{
    color: $main-font-color;
  }
  .list-container{
    width: 100%;
    overflow-x: auto;
    .list-wrapper{
      display: flex;
      flex-wrap: nowrap;
      .list{
        flex: 0 0 auto;
        width: 200px;
        margin-right: 20px;
      }
      /* Style the button */
      .add-button {
        flex: 0 0 auto;
        width: 260px;
        display: inline-block;
        color: white;
        font-size: 24px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
      }
    }

  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $main-1;
  }
}
