$font-stack: "Segoe UI", Arial, sans-serif;
$main-font-color: #333;
$backgroud-1: #ff66aa;
$backgroud-2: #fcb045;
$main-1: #635985;
$main-2: #443C68;
$main-3: #393053;
$main-4: #18122B;

.list-container {
  background-color: $main-1;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  color: white;
  font-family: $font-stack;

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .edit-list {
    display: flex;

  }
}
